@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}


/* サイドバー */
.sidebar {
  width: 200px;
  height: 130vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 5px;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* 立体（浮かび上がらせる） */
.blockquote {
  box-shadow: 0 0 8px gray;
  border-radius: 10px 10px 10px 10px;
}

/* ログインページのロゴ */
.atlas_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 8px gray;
  border-radius: 10px 10px 10px 10px;
}

.user_status_content {
  font-size: 20px;
}


/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar td {

  text-align: center;
  width: 100px;
  height: 90px;
  vertical-align: top;
  position: relative;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.day {
  font-size: 13px;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}


/* 予約登録残数、部数 */
.adjust-table td,
.adjust-area p,
.adjust-table-btn {
  font-size: 13px;
}



/* スクール参加者詳細画面 */
.reserve_detail table {
  width: 100%;
  table-layout: fixed;
  /* テーブルの横幅を均等に設定 */
}

.reserve_detail table th,
.reserve_detail table td {
  width: 33.33%;
  /* セルの横幅を均等に設定 */
  box-sizing: border-box;
  /* ボーダーボックスモデルを使用して、paddingやborderも含めた横幅にする */
}

.reserve_detail table td {
  background: #fff;
}

.reserve_detail table tr:nth-child(odd) td {
  background: #E1F6F7;
}

.reserve_detail {
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  background-color: #FFF;
  padding: 10px;
}


/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #03AAD2;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin: 10px auto;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  background: #FFF;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;

}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}


/* ユーザー検索の検索エリアのスタイル */
.search_area {
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.search_area input[type="text"],
.search_area select {
  background-color: #E4E1E1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.search_area label {
  font-size: 14px;
}

.search_area input[type="submit"] {
  background-color: #03AAD2;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.search_area input[type="reset"] {
  background: none;
  color: #03AAD2;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  width: 300px;
  margin-top: 20px;
}

.search_conditions_inner {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.search_conditions span {
  cursor: pointer;
  font-weight: bold;
}

.selected_engineer {
  margin-top: 10px;
}

.selected_engineer label {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
}

.selected_engineer input[type="checkbox"] {
  margin-right: 5px;
}
